<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="fragmentThemUser" class="modal fade" id="modalThemUser" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content border-0 shadow">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title fw-bold"><i class="fa-solid fa-user-plus me-2"></i>TẠO TÀI KHOẢN MỚI</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/users/them" method="POST">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Họ và Tên hiển thị</label>
                            <input type="text" name="hoTen" class="form-control" required placeholder="Ví dụ: Nguyễn Văn A">
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bold">Tên đăng nhập (Username)</label>
                            <input type="text" name="username" class="form-control" required placeholder="Viết liền không dấu, ví dụ: nva">
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bold">Mật khẩu cấp phát</label>
                            <input type="text" name="password" class="form-control" required placeholder="Ví dụ: 123456">
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bold">Quyền hạn (Vai trò)</label>
                            <select name="vaiTro" class="form-select border-primary shadow-sm">
                                <option value="MEMBER">NHÂN VIÊN (Chỉ thực thi công việc)</option>
                                <option value="LEADER">QUẢN LÝ (Toàn quyền hệ thống)</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-dark fw-bold">CẤP TÀI KHOẢN</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>